<!doctype html>
<html lang="en">
    <!-- TODO head can also be done with hjs and moved to head.html -->
    <head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Social network for your pets"/>
	<meta name="keywords" content="pets, social, network, sharing is caring"/>

	<title>Petbook - Your pet's social life</title>

	<link rel="stylesheet" type="text/css" href="/css/libs/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/welcome.css">
	<link rel="icon" href="/icos/petbook.ico">
    </head>
    <body>
	<section id="root"></section>
	<script src="/js/libs/jquery-2.2.3.min.js"></script>
	<script src="/js/libs/bootstrap.min.js"></script>
	<script src="/js/welcome.min.js"></script>
    </body>
</html>
