/* I don't know if #eaeaea actually does something */
body {
    background: #eaeaea url("../imgs/bg.png");
}

/* colors for navbar background */
.navbar-default {
    background-color: skyblue;
}

/* add some spacing between navbar and everything else */
#main-container {
    margin-top: 100px;
}


/* generic class for centering text */
.text-centered {
    text-align: center;
}
