/* file used on index.html/main view */

/*
 * main view settings
 * */

/* remove padding from cols */
.col-md-2, .col-md-7, .col-md-3, .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

/* customize the side bar list */
#side-bar-list {
    padding-left: 0px;
}

ul#side-bar-list li {
    list-style-type: none;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* no colors for links */
ul#side-bar-list a {
    color: inherit;
}

ul#side-bar-list a:hover, ul#side-bar-list a:link {
    text-decoration: none;
}

ul#side-bar-list li:hover, ul#side-bar-list li.selected {
    background-color: #E0E0E0;
}

ul#side-bar-list li.selected {
    font-weight: bolder;
}

#news-image, #chat-sidebar-image {
    height: 20px;
    margin-right: 10px;
}

#post-box {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#post-header a {
    cursor: pointer;
}

#post-btn-wrapper {
    text-align: left;
    background-color: #E0E0E0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#post-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#file-upload {
    display: none;
}

#profile-picture-checkbox {
    margin-left: 5px;
    height: 35px;
    display: flexbox;
    align-items: center;
    //font-size: 20px;
}

#file-upload-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

#file-upload-btn:hover {
    background-color: #E0E0E0;
}

#post-upload {
    height: 70px;
    display: flex;
    align-items: center;
    //justify-content: center;
}

#post-pic {
    height: 185px;
}

#post-pic-desc {
    display: block;
    height: 80px;
}

#news-view {
    margin-top: 20px;
}

#checkbox-text {
    margin-left: 10px;
    //padding-bottom: 20px;
    display: inline-block;
    //margin-bottom: 100px;
}