/* the navbar after the user logs in */

/* align logo in center vertically */
.navbar-brand {
    display: flex;
    align-items: center;
}

/* vertically center extra stuff on right */
#extra-navbar {
    line-height: 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.navbar-link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    cursor: pointer;
}

/* navbar separators */
.navbar-separator {
    float: left;
}

/* change text color to white */
.navbar-default .navbar-link {
    color: white;
}
.navbar-default .navbar-link:hover {
    color: white;
    text-decoration: none;
    background-color: #5ab7fd;
}

/* clear navbar div */
#clear-navbar {
    margin-top: 51px;
}

/* friend request image */
#friend-request {
    height: 30px;
}

/* navbar chat image */
#navbar-chat {
    height: 30px;
}

/*
 * make navbar form smaller (in height)
 * also, remove border
 * */
.navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 0px;
}

/* profile image in navbar */
#navbar-profile-image {
    /* old values */
    //height: 40px;
    //width: 40px;
    //border-radius: 20px;
    //background-color: white;

    height: 35px;
    width: 35px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

#friends-modal-dialog {
    width: 450px;
}

#unseen-messages-modal-dialog {
    width: 300px;
}

#friends-modal-title, #unseen-messages-title {
    text-align: center;
    font-weight: bold;
}

#friends-modal-body, #unseen-messages-body {
    padding: 0px;
}

.friend-request, .unseen-message {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.friends-modal-avatar, .unseen-message-avatar {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    margin: 5px;
}

.friends-modal-author, .unseen-message-author {
    margin-left: 10px;
}

.accept-btn-modal, .unseen-view-btn {
    margin-left: auto;
    margin-right: 5px;
}

/*
 * this is a little bit hardcoded
 * TODO this doesn't look nice for 100+ requests
 * use javascript to center the req-nr
 * */
#friend-req-link, #messages-link {
    position: relative;
}
#req-nr, #unseen-nr {
    padding: 3px;
    font-size: 12px;
    line-height: 18px;
    height: 22px;
    min-width: 16px;
    background-color: red;
    text-align: center;
    border-radius: 7px;
    position: absolute;
}
#req-nr {
    right: 33px;
    top: 20px;
}
#unseen-nr {
    right: 10px;
    top: 20px;
}

/*
 * TODO
 * align this with the navbar (e.g. container)
 * make it look good on mobile too
 * then use this instead of modal for messages
 * */
#unseen-messages {
    position: absolute;
    //position: relative;
    width: 300px;
    max-height: 350px;
    background-color: white;
    border: 1px solid #ccc;
    top: 50px;
    //right: -10px;
    margin-left: 100px;
    margin-right: auto;
    //right: 10%;
    display: none;
}

.unseen-message {
    //padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-itesm: center;
}

#friend-request-empty, #unseen-messages-empty {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
