/* remove padding from cols */
.col-md-2, .col-md-7, .col-md-3, .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

/*
 * #868686
 * #E0E0E0
 */

#about-view {
    margin-top: 10px;
    background-color: white;
    //border: 1px solid #868686;
    //border: 1px solid #E0E0E0;
    //background-color: #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    //display: flex;
    //flex-wrap: wrap;
}

#top-about {
    display: flex;
}

#profile-picture {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border: 1px solid #868686;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

#name-div {
    display: inline-block;
    align-self: center;
}

#name {
    font-size: 20px;
    display: block;
}

#add-friend-btn,
#friend-btn,
#friend-request-btn,
#accept-friend-request-btn,
#reject-friend-request-btn,
#unfriend-btn,
#message-btn {
    margin-top: 10px;
    display: block;
}

#friend-btn,
#friend-request-btn {
    cursor: default;
}

.separator {
    display: inline-block;
    background: #fff;
    margin: 0px 6px;
    height: 18px;
    width: 1px;
    vertical-align: top;
}

#other-info {
    margin-top: 40px;
    //background-color: white;
    //background-color: #E0E0E0;
    //padding: 10px;
    border-radius: 10px;
    //border: 1px solid #868686;
    //border: 1px solid #ddd;
    //border: 1px solid ;
}

#about-me,
#email,
#type,
#gender,
#bday {
    padding: 20px;
    display: flex;
    align-items: center;
    //justify-content: center;
}

#about-me,
#email,
#type,
#gender {
    //border-bottom: 1px solid #868686;
    border-bottom: 1px solid #ddd;
}

#about-me {
    //margin-top: 15px;
}

#email {
    
}

.info-item {
    //font-size: 18px;
    font-size: 14px;
    //margin-bottom: 20px;
    //border-bottom: 1px solid #868686;
    //font-style: italic;
    //color: red;
    //color: #868686;
}

/* avatar modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.avatar-modal-body{
    padding: 0px;
    margin: 0px;
}

#news-header {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1px;
}

#news-header a {
    cursor: pointer;
}

.news-post {
    width: 95%;
}

#user-no-friends-txt {
    margin: 10px;
    padding-left: 20px;
}

#user-friend-list {
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.user-friend-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-friend-avatar {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
}

.user-friend-name {
    margin-left: 10px;
}
